In [1]:
#!pip install xgboost

In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('insurance_pre.csv')

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [6]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [7]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [8]:
independent=dataset[['age','bmi', 'children','sex_male','smoker_yes']]
dependent=dataset[['charges']]

In [9]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
X_train=SC.fit_transform(X_train)
X_test=SC.transform(X_test)

In [13]:
X_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [14]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [15]:
from xgboost import XGBRegressor
Regressor=XGBRegressor(loss='quantile',n_estimators=10,criterion='squared_error',random_state=0,max_features=None,)
Regressor=Regressor.fit(X_train,y_train)

C:\Users\swath\anaconda3\Lib\site-packages\xgboost\core.py:158: UserWarning: [12:24:23] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "criterion", "loss" } are not used.

  warnings.warn(smsg, UserWarning)

In [16]:
y_pred=Regressor.predict(X_test)

In [17]:
y_pred

array([11037.358 , 10891.632 , 45222.29  , 13589.472 , 10096.065 ,
       10089.763 ,  2505.2678, 12720.0205,  7067.941 ,  6562.1587,
        7014.263 , 19129.742 , 10679.188 ,  6280.754 , 27947.994 ,
       12790.811 , 15014.848 ,  4677.0796,  6743.4546, 34735.71  ,
       23408.725 , 14951.743 , 10943.404 , 28684.463 ,  6955.441 ,
        5647.707 ,  6104.478 ,  7779.7144,  4141.8394, 11366.445 ,
        6924.4185, 46196.184 , 15438.669 , 11836.751 , 16332.304 ,
        4587.4604,  9131.108 , 34588.84  , 38197.547 ,  3692.4253,
       10160.302 ,  4587.4604, 18608.21  , 46196.184 , 36937.55  ,
        3379.4236, 12790.811 ,  6455.892 ,  5903.568 , 12217.81  ,
        3994.8616,  4028.2861, 27054.863 , 45667.938 , 11565.02  ,
        3900.1738,  3547.5564, 11147.704 ,  8824.507 , 18230.729 ,
        2871.3884, 42644.48  , 18421.    , 16264.346 , 11263.805 ,
        9423.167 , 33787.746 , 37895.496 ,  3309.6553,  9168.928 ,
       14737.311 , 11537.871 , 16666.652 , 13870.435 , 13879.569 ,
       14486.349 , 10931.679 , 11366.445 , 19287.643 , 45747.69  ,
       11862.152 , 48089.9   ,  4193.921 ,  9434.761 , 39920.02  ,
       19634.197 ,  3917.0923,  4401.6333, 14534.21  , 37536.66  ,
        6901.1807, 12666.023 ,  3714.4663, 10253.969 ,  6292.9985,
        5902.6875, 42644.48  , 48230.805 ,  6562.1587, 11565.02  ,
        4401.6333,  6731.1924,  6826.2065, 37895.496 , 26271.873 ,
        6797.5117, 11015.75  ,  4347.4785, 11836.751 , 43723.17  ,
       12565.892 ,  6002.1797, 10891.632 , 34735.71  , 46196.184 ,
        6505.442 ,  2505.4346, 11147.704 , 23396.316 ,  9834.993 ,
       40124.68  , 12252.136 , 13979.367 ,  6901.1807, 10295.48  ,
        6828.4126, 28393.033 , 25549.33  , 46196.184 ,  3339.844 ,
       11875.242 ,  3880.9194,  8052.363 ,  9465.225 , 43334.223 ,
       37895.496 , 23393.04  , 15311.799 , 23513.377 ,  5935.7334,
        3692.4253, 12473.313 , 13754.568 , 11836.751 ,  5910.966 ,
       13870.435 , 22520.127 , 10368.3545,  2141.424 , 12818.307 ,
        7447.3926, 38311.49  ,  9861.158 , 10538.712 ,  2259.6484,
        9090.183 ,  3880.9194,  3950.5122, 12790.811 , 10696.674 ,
        6826.2065, 13589.472 , 14486.349 ,  8891.0205,  6104.478 ,
        6901.7046, 16649.967 ,  7941.488 ,  5852.5806,  2529.1858,
        6826.2065,  7874.7476, 11366.445 ,  3547.5564,  8601.923 ,
        6901.7046,  6616.9683,  7839.0317, 25167.762 ,  2480.203 ,
       15836.775 ,  7280.755 , 11836.751 ,  4754.2505,  7150.8774,
       27767.559 ,  4193.921 ,  3272.6814, 13881.962 , 10696.674 ,
       40604.05  ,  5868.182 ,  5781.2827, 26281.287 ,  3547.5564,
        3764.1575,  8182.2134,  8761.766 ,  6371.218 ,  5871.142 ,
       12028.44  , 43723.17  , 14951.743 , 19988.707 ,  7222.594 ,
       42573.883 ,  5020.5933, 10967.427 ,  7420.8423,  3030.682 ,
        9956.819 , 13881.962 ,  6535.315 ,  4401.6333,  6874.8687,
        5538.1265,  6412.64  ,  7535.285 , 14306.546 ,  7513.008 ,
       11268.312 ,  7457.16  , 10835.589 ,  5055.443 , 12094.736 ,
       13979.367 , 21790.646 , 12505.073 ,  7442.4683,  3764.1575,
       12247.7705,  8443.509 , 17990.174 ,  4275.178 ,  6288.339 ,
        7461.7188, 13968.093 , 34735.71  ,  6693.905 , 12565.892 ,
        7147.107 , 34940.375 ,  8022.341 ,  8365.526 , 10122.36  ,
       10729.518 ,  3247.6165,  9777.73  ,  2560.0217,  7089.4263,
       19913.46  , 43723.17  ,  5336.55  ,  3917.0923,  3560.562 ,
        2978.41  ,  9299.517 ,  2838.3481,  6002.5703,  8005.8477,
        8827.683 , 25114.102 , 43723.17  , 15413.678 ,  6874.8687,
       11565.02  , 42633.67  ,  9410.615 , 37895.496 ,  3787.1494,
       37054.32  ,  6562.1587, 12028.44  ,  6385.091 , 39920.02  ,
        6383.134 , 10377.578 ,  9680.731 ,  3880.9194, 17315.678 ,
       13061.84  ,  5897.87  , 13881.962 , 12247.7705,  7762.6777,
        6657.062 , 11088.076 , 21698.674 ,  3917.0923,  2480.203 ,
        2891.0576, 45747.69  , 11939.337 ,  5902.6875, 14951.743 ,
       12028.44  , 35037.76  ,  7670.99  ,  7792.5264,  8917.433 ,
        4193.921 ,  3880.9194, 22716.576 , 17117.414 , 13881.962 ,
        3764.1575,  4677.0796, 14331.873 , 10967.427 , 16525.234 ,
       20260.016 , 10768.05  , 16831.908 ,  3692.4253,  7189.5854,
        6292.9985, 17427.82  ,  2891.0576,  8474.672 , 45173.918 ,
        3379.4236,  6166.7354,  2560.0217, 10826.152 ,  3900.1738,
       11646.591 , 43723.17  , 18123.125 ,  9674.812 , 42903.086 ,
       14951.743 ,  7222.594 , 10345.364 ,  6796.0757, 27426.871 ,
        5871.142 , 13879.569 ,  3247.6165, 17168.518 ,  4670.672 ,
       23735.557 , 11142.494 ,  5538.1265, 39832.727 ,  6562.1587,
        5207.844 , 26020.312 ,  4193.921 , 10039.6045,  4219.2583,
       10696.674 ,  4381.314 ,  6990.803 ,  6562.1587, 45036.617 ,
        9827.045 , 46918.35  , 37718.78  ,  6693.905 , 12467.753 ,
        2558.0327,  5408.06  ,  5155.14  ,  9510.562 , 45036.617 ,
       11015.75  ,  2505.2678, 15772.859 ,  2838.3481,  9666.622 ,
        6531.5776,  3714.4663,  5041.922 , 36512.324 ,  7442.4683,
        2560.0217, 41696.633 , 11770.455 , 40604.05  , 11015.75  ,
        5902.6875,  3559.041 ,  2871.3884, 16817.514 ,  6363.0903,
        3692.4253, 11295.344 ,  6395.396 ,  7370.7046,  7112.091 ,
        4234.8433, 40519.727 ,  4193.921 , 13778.992 ,  5389.8535,
       12092.262 , 11565.02  ,  5711.7466, 16266.834 , 11738.518 ,
       18299.691 , 17142.693 ], dtype=float32)

In [18]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [19]:
r_score

0.8652844678217739